virtual_machines/storage
virtual_machines/configs/*/meta-data.yaml

tmp/
results/
configs/load/test_config.yaml
configs/search/test_config.yaml

__pycache__
virtual_machines/host_mounts/user_vm_1/testing/.venv/
virtual_machines/host_mounts/user_vm_1/testing/results/
virtual_machines/host_mounts/user_vm_1/testing/src/*.egg-info/
virtual_machines/host_mounts/*/host_id_*.pub
.venv

*.egg-info
