virtual_machines/storage
virtual_machines/configs/*/meta-data.yaml

tmp/
results/
results_copy/
vmstat_logs/
configs/loadtest/load/test_config.yaml
configs/loadtest/search/test_config.yaml
configs/loadtest/latency/load/test_config.yaml
configs/loadtest/latency/search/test_config.yaml
configs/failover/config.yaml
configs/failover/config.time.yaml

__pycache__
.venv

*.egg-info

configs/trex/trex.log
configs/trex/trex.pid

virtual_machines/*
!virtual_machines/host_mounts/
!virtual_machines/host_mounts/**
virtual_machines/host_mounts/user_vm_1/testing/.venv/
virtual_machines/host_mounts/user_vm_1/testing/results/
virtual_machines/host_mounts/user_vm_1/testing/src/*.egg-info/
virtual_machines/host_mounts/*/host_id_*.pub
configs/trex/trex_cfg.yaml

virtual_machines/host_mounts/external_vm/ha-test/results