virtual_machines/storage
virtual_machines/configs/*/meta-data.yaml

tmp/

__pycache__
virtual_machines/host_mounts/user_vm_1/testing/.venv/
virtual_machines/host_mounts/user_vm_1/testing/results/
virtual_machines/host_mounts/user_vm_1/testing/configs/test_config.yaml
virtual_machines/host_mounts/user_vm_1/testing/src/*.egg-info/
.venv

*.egg-info
